.events {
  background-image: url(assets/yawwn-01.jpg);
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;

  height: 45em;
  padding-top: 10em;
}

.event {
  background-color: white;
  opacity: 0.6;
}
