.events {
  background: lightblue url(assets/pink-band-background.jpg) no-repeat fixed
    center;
  background-size: cover;

  height: 45em;
}

.event {
  background-color: white;
  opacity: 0.6;
}

.logo {
  width: 6.5em;
}

.title {
  font-size: 30px;
  margin-top: 0;
}
