.homePage {
  background: lightblue url(assets/pink-band-background.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  font-size: 30px;
  margin-top: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.coverContainer {
  display: grid;

  .art {
    width: 450px;
    height: 450px;
    margin: auto;
    transition: all 0.3s ease-in-out;

    @media (max-width: 480px) {
      width: 200px;
      height: 200px;
    }
  }
  .art:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: scale(1.1);
  }
  .art:focus {
    transform: translate(-0.25em);
  }
}

.logo {
  width: 6.5em;

  @media (max-width: 480px) {
    width: 3em;
  }
}
