$fb-cl: #3b579d;
$twt-cl: #00aced;
$blk-cl: #000000;

.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    background: #000;
    position: relative;
    transition: 0.5s;
  }
}

.model-0 {
  position: absolute;
  transition: 0.5s;
  left: 0;
  top: 50px;
  li {
    float: none;
    display: block;
  }
  a {
    &:hover {
      padding-left: 20px;
      width: 65px;
    }
  }
}
